* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --primary-color: #0f1b4c;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 4.8rem);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 9.8rem;
    border-radius: 0.8rem;
    background: var(--primary-color);
    padding: 1.8rem 1.6rem;

    font-size: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.85;
}

/* ================== Header ================ */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    padding-top: 3.8rem;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 5rem;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #3f5361;
    padding: 0.8rem 1.4rem;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4.rem;
    color: var(--primary-color)
}

.navbar .action-btn {
    padding: 1.3rem 1.6rem;
    margin-left: 1.8rem;
}

/* Hero */
.hero {
    margin-top: 13rem;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.hero .desc {
    margin-top: 3rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5A6473;
}

.hero .hero-cta {
    min-width: 17rem;
    margin-top: 4rem;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 10rem);
    bottom: 0;
}

/* ================== Clients ================ */
.client {
    margin-top: 12.2rem;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.client .row-desc {
    margin-top: 2.3rem;
}

.client .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9.6rem;
}

/* ================== Guides ================ */
.guides {
    margin-top: 10rem;
}

.guides .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
    color: var(--primary-color);
    position: relative;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    width: 4.1rem;
    background: var(--primary-color);
    height: 0.4rem;
    border-radius: 99px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 45.9rem;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
    margin: 2rem auto;
}

.guide-list {
    display: flex;
    justify-content: center;
    gap: 14rem;
    margin-top: 7rem;
}

.guide-item {
    text-align: center;
}

.guide-item .title {
    margin-top: 2.6rem;
    font-weight: 500;
    font-size: 2rem;
    color: #3B3C45;
    line-height: 1.1;
}

.guide-item .link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689FF;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.guide-cta .btn {
    min-width: 17rem;
}